@import url("https://fonts.googleapis.com/css?family=MedievalSharp:100,200,300,400,500,600,700");

*, *::before *::after {
    box-sizing: border-box;
    font-size: 10px;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("img/forest.jpg") no-repeat center fixed;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #e5dba0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 20px 4px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: rgba(109, 1, 1, 0.7);
    border: 2px solid rgba(65, 0, 0, 0.9);
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 10px;
}

.btn:hover {
    border: 2px solid #ffffff;
}

.text-styling{
    font-size: 2em;
    font-family: "MedievalSharp", sans-serif;
}